.dadosCategorias {
    padding: 30px;
  }
  
  .tabela {
    width: 100%;
    padding-top: 30px;
  }
  
  .cabecalho {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .titulo {
    position: absolute;
    left: 5px;
  }
  
  .divAutoComplete {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .autoCompleteInput {
    width: 500px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  
.textoErros {
  font-weight: 900;
  color: #c0392b;
}

.divErros {
  padding: 20px;
}

.cardErros {
  padding-top: 30px;
  padding-bottom: 30px;
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.7;
}

.disabledDivAll{
  pointer-events: none;
  background: lightgray;
}

.tabela {
  width: auto;
  padding-top: 30px;
}

.erro{ border-color: red; color: red;}
.ok{ border-color: green; color: green;}

.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}