<mat-toolbar>
    <mat-toolbar-row>
        <h1>Multiloja</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav  opened="true" mode="side">
        <mat-nav-list>
            <a [routerLink]="['/loja']" mat-list-item>Loja</a>
            <a [routerLink]="['/logar']" mat-list-item>Logar</a>
            <a [routerLink]="['/cliente']" mat-list-item>Cliente</a>
            <a [routerLink]="['/produto']" mat-list-item>Produto</a>
            <a [routerLink]="['/carrinho']" mat-list-item>Carrinho</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 80vh;">
            <router-outlet>                
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>