<div *ngIf="!produtos">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div> 
  
  <div class="dadosCategorias" *ngIf="produtos">

    <h1>PRODUTOS</h1>

    <form [formGroup]="formulario">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEmail4">SKU</label>
          <input type="text" class="form-control" id="inputSku" formControlName="sku" required>
        </div>
        <div class="form-group col-md-2">
          <label for="inputPassword4">Título</label>
          <input type="text" class="form-control" id="inputTitulo" formControlName="titulo" required>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputAddress">Descrição</label>
        <input type="text" class="form-control" id="inputDescricao" formControlName="descricao" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="dinheiro">R$</label><input type="number" id="dinheiro" name="dinheiro" class="dinheiro form-control" style="display:inline-block" id="inputValor" formControlName="valor" required/>
        </div>
        <div class="form-group col-md-2">
          <label for="inputCEP">Quantidade</label>
          <input type="number" class="form-control" id="inputQuantidade" formControlName="quantidade" required>
        </div>
      </div>
      <button type="submit" [disabled]="formulario.invalid" (click)="salvarNomes()" mat-raised-button>Cadastrar Produto</button>
    </form>

    <br>
    <br>
  
    <table mat-table matSort [dataSource]="produtos" class="mat-elevation-z8 tabela">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.produtoId }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.sku }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.titulo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descricao</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.descricao }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.valor }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="dataCriacao">
        <th mat-header-cell *matHeaderCellDef>Data Criação</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.dataCriacao }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataAlterado">
        <th mat-header-cell *matHeaderCellDef>Data Alterado</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.dataAlterado }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.statusId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let produto">
          {{ produto.quantidade }}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColunms"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColunms"></tr>
  
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  